div{
    background-color: black;
    width: 500px;
    padding: 5px;
}

#layout{
    text-align: center;
}

.gauche{
    text-align: left;
}
.droite{
    text-align: right;
}

h2, p, button{
    color: white;

}
button{
    background-color: blue;
}